<% if(error && error.length){ %>
<div class="row mx-4 rounded-3">
  <div
    class="col-md-4 mt-1 offset-md-4 alert alert-danger alert-dismissible fade show"
  >
    <%= error %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</div>
<% } %>
