<footer class="p-4 mt-5 text-dark">
  <div
    class="footerlinks d-flex flex-md-row flex-column-reverse justify-content-md-around align-items-center"
  >
    <div
      class="social-links d-flex fs-4 justify-content-between"
      style="width: 180px"
    >
      <a href="https://www.facebook.com/profile.php?id=100033370701903">
        <i class="fa-brands fa-facebook-f"></i
      ></a>
      <a href="https://www.instagram.com/deepak_000021/">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/deepak-jangra-9a7b84243/">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://twitter.com/deepakiaf15">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/21DEPK">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
    <ul class="mt-2">
      <li>
        <a class="text-decoration-none" href="#top">Go To Top</a>
      </li>
      <li>
        <a class="text-decoration-none" href="#">Term &amp; Condition</a>
      </li>
      <li>
        <a class="text-decoration-none" href="#">Privacy Policy</a>
      </li>
      <li>
        <a class="text-decoration-none" href="tel: +91 9728548025">Contact</a>
      </li>
      <li>
        <a class="text-decoration-none" href="mailto: deepakiaf15@gmail.com"
          >Send mail</a
        >
      </li>
    </ul>
  </div>
  <hr />
  <p class="copyright d-block mb-2 text-center">
    © Copyright 2024 Wanderlust | All rights reserved.
  </p>
</footer>
