<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="/css/ERROR.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center">
            <% if(statusCode===404){ %>
            <h1>404</h1>
            <h2>UH OH! You're lost.</h2>
            <p>
              The page you are looking for does not exist. How you got here is a
              mystery. But you can click the button below to go back to the
              homepage.
            </p>
            <% } else{%>
            <h2>UH OH! You're lost.</h2>
            <p><%= message %></p>
            <p>You can click the button below to go back to the homepage.</p>
            <% } %>
            <button class="btn green home">HOME</button>
          </div>
        </div>
      </div>
    </main>
    <script src="/js/index.js"></script>
  </body>
</html>
