html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  user-select: none;
}
.filters {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.search-btn {
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 135px;
  border-radius: 444px;
  padding: 0px 16px;
}
.search-btn:hover {
  background-color: red;
  color: white;
}
.search-inp {
  border-radius: 444px;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.filter {
  text-align: center;
  height: 68px;
  opacity: 0.7;
  flex-shrink: 0;
}
.filter + .filter {
  /* apply all css to elements with filter class except first element */
  margin-left: 1.4rem;
}
.filters .active {
  opacity: 1;
}
.filter:hover {
  opacity: 1;
}
.filter p {
  font-size: 0.8rem !important;
}
.filters::-webkit-scrollbar {
  display: none;
}
.load-more {
  max-width: fit-content;
  align-self: center;
  justify-self: center;
}
.load-more-card {
  min-height: 140px;
}
[alt="load_more"] {
  max-height: 40px;
  max-width: 40px;
}
ul {
  list-style-type: none;
}
.row {
  max-width: 100vw;
}
.card-img-top {
  max-height: 200px;
  width: 100%;
}
.text-justify {
  text-align: justify;
}
.card {
  min-height: 320px;
  border: none;
}
.card-img-overlay {
  opacity: 1;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  color: red !important;
  scale: 1.4;
}
.form-control:focus {
  box-shadow: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
textarea {
  resize: none;
}
.desc {
  margin-left: 0.4% !important;
}
.listing-img {
  height: 320px;
}

[preview] {
  max-height: 200px;
  max-width: 400px;
  object-fit: cover;
}
figcaption {
  color: red;
}

[reviewForm] {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 2%;
}
[alt="review emoji"] {
  height: 35px;
  width: 35px;
}

.logout {
  display: flex;
  align-items: center;
  gap: 4px;
}

.review-card {
  min-height: 80px;
  border: 2px solid #ddd;
  border-radius: 8px;
}
.review-card p {
  margin-bottom: 4px !important;
}

footer {
  background-color: #f8f9fa !important;
}

@media screen and (min-width: 760px) {
  .desc {
    margin-left: -6% !important;
  }
}
@media screen and (max-width: 810px) {
  .search-form {
    max-width: 350px;
  }
  .search-btn {
    max-width: fit-content;
  }
}
@media screen and (max-width: 767px) {
  .search-form {
    margin-left: 0 !important;
  }
}
@media screen and (min-width: 380px) and (max-width: 575px) {
  .card {
    min-height: 390px;
  }
  .card-img-top {
    max-height: 280px;
  }
}
